body {
    background-color: black;
}

#none {
    height: 800px;
    width: 500px;

    position: relative;
    left: 50%;
    transform: translate(-50%);

    background-color: whitesmoke;

    margin: 20px;
    padding: 20px;

    border-radius: 20px;
    box-shadow: 0 0 200px 70px purple;
    transition-property: box-shadow;
    transition-duration: 2s;
    transition-delay: 0s;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

#none:hover {
    box-shadow: 0 0 100px 10px blue;
}

#numeros {
    height: auto;
    width: 100px;
    overflow:scroll;

    background-color: rgb(236, 236, 236);

    margin: 10px;
    border-radius: 20px;

    font-family: 'Arvo', serif;;
    text-align: center;
    color: orange;
    font-size: 22px;
    font-weight: bold;

    transition-property: color;
    transition-duration: 2s;
    transition-delay: 0s;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#numeros:hover {
    color:red;

}

#palavras {
    min-height: 780px;
    height: auto;
    width: 400px;
    overflow:scroll;

    background-color: rgb(236, 236, 236);

    margin: 10px;
    border-radius: 20px;

    font-family: 'Arvo', serif;;
    text-align: center;
    color: darkred;
    font-size: 22px;

    transition-property: color;
    transition-duration: 2s;
    transition-delay: 0s;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

#palavras:hover {
    color: lightseagreen;
    font-weight: 500;
}